.header__logo {
  color: #000;
  font-size: clamp(16, 2vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(24px, 2vw, 58px);
  text-transform: uppercase;
}

.list {
  display: flex;
  gap: 20px;
}

.link {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  transition: color 0.3s ease;
  padding-bottom: 2px;
}

.header__container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 992px) {
  .header__container {
    flex-wrap: wrap;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.header {
  background-color: #fff;
}

.header__nav {
  overflow-x: auto;
}