.portfolio {
	background-color: #ffffff;
	padding: 60px 0;
}

.projects {
	width: 100%;
}

.project__image {
	width: 40%;
	height: 250px;
	object-fit: cover;
}

.title {
	color: #000;
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 30px;
}

.project__info {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 10px;
}

.project__title {
	color: #000;
	font-size: clamp(16px, 3.5vw,24px);
	font-weight: 500;
	display: -webkit-box;
	overflow: hidden;
	line-height: 1.2;
}

.project__description {
	color: #5f5f5f;
	font-size: clamp(12px, 3.5vw, 16px);
	font-weight: 400;
	
}
.project {
	display: flex;
	gap: 20px;
}
.project.visible {
  opacity: 1;
  transform: translateX(0);
}

.buttons {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 20px;
	border-radius: 5px;
	background-color: #364b8a;
}

.button:disabled {
	opacity: 0.5;
}
