.hero {
	height: 100vh;
}

.container {
	padding-left: 100px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	height: 80%;
}

.title {
	font-weight: 400;
	font-family: Manrope;
	font-size: 52px;
	line-height: 60px;
	color: #fff;
}

.description {
	font-weight: 400;
	font-family: Manrope;
	font-size: 18px;
	line-height: 28px;
	color: #fff;
	max-width: 500px;
}
