.footer {
	background-color: #f3f3f3;
	height: 200px;
	padding-top: 20px;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footerName {
	padding: 0;
  color: #000;
  font-size: clamp(16, 2vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(24px, 2vw, 58px);
  text-transform: uppercase;
}


.footer__address {
	font-style: normal;
	color: #000;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  transition: color 0.3s ease;
  padding-bottom: 2px;
}

.footer__title {	
	font-size: clamp(18px, 3.5vw, 22px);
	font-weight: 500;
	color: #000;
}

.footer__phone {
	color: #000;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  transition: color 0.3s ease;
  padding-bottom: 2px;
}